@{
    Layout = "~/Views/Home/MasterPage.cshtml";
}

    <div style="margin:6%">
        <form role="form">
            <div class="form-group">
                <label>From*</label>
                <input name="from_" type="text" class="form-control" placeholder="From">
            </div>
            <div class="form-group">
                <label>Transit</label>
                <input name="through" type="text" class="form-control" placeholder="Through">
            </div>
            <div class="form-group">
                <label>Destination*</label>
                <input name="to_" type="text" class="form-control" placeholder="To">
            </div>
            <div class="form-group">
                <label>Date*</label>
                <input name="date_" type="text" class="form-control" placeholder="21.01.2012">
            </div>
            <div class="form-group">
                <label>Vehicle*</label>
                <input name="vehicle_" type="text" class="form-control" placeholder="Vaz2101">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
