<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CDelivery</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap.min.css" rel="stylesheet">
    <script src="/jquery.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({
                placement: 'top'
            });
        });
    </script>


</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"></button>
                <a class="navbar-brand" href="/">Cargo delivery</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["id"] == null)
                    {
                        <li><a href="/Home/Login">Login</a></li>
                    }
                    else
                    {
                        <li><a href="/Home/Logout">Logout</a></li>
                        <li><a href="/Home/AddRoute">Add route</a></li>
                        <li><a href="/Home/Messages">Messages</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

</body>
</html>